<nav class="bg-white shadow-sm sticky top-0 z-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-20 items-center">
      <div class="flex items-center gap-10">
        <a href="../index.html">
          <img src="../img/logo.png" alt="Mibanco" class="h-10 w-auto" onerror="this.src='/img/logo.png'">
        </a>
        <div id="nav-links" class="hidden md:flex space-x-8">
            <a href="../index.html" class="text-gray-600 font-bold hover:text-mi-verde transition font-helvetica">Inicio</a>
            <a href="../empleos.html" class="text-gray-600 font-bold hover:text-mi-verde transition font-helvetica">Oportunidades</a>
        </div>
      </div>

      <div id="nav-actions" class="flex items-center">
          </div>
    </div>
  </div>
</nav>